/* GENERAL STYLE */

body {
  background-color: #FDFDFA ;
}

#navbar {

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 40px;

position: absolute;
width: 579px;
height: 31px;
left: 550px;
top: 86px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 26px;
}

#logo {

position: absolute;
width: 171px;
height: auto;
left: 157px;
top: 70px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 47px;
/* identical to box height */


color: #000000;
}

/* MAIN PAGE */

#hook {
position: absolute;
width: 531px;
height: 152px;
left: 155px;
top: 171px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 47px;

color: #000000;
}

#homepara {
  position: absolute;
width: 451px;
height: 92px;
left: 155px;
top: 387px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 26px;

}

#hook-img {
position: absolute;
width: 350px;
height: auto;
left: 909px;
top: 185px;

background: url("../public/bonbon-line-hand-holds-the-mirror-the-brush-and-the-makeup-palette\ 1.png");
}

#getstartedbutton {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px;
gap: 10px;

position: absolute;
width: 140px;
height: 59px;
left: 155px;
top: 510px;

background: #FFCF02;
border-radius: 7px;
}

#learnmore {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px;
gap: 10px;

position: absolute;
width: 136px;
height: 59px;
left: 310px;
top: 491.5px;

border-radius: 7px;

font-family: 'DM Sans';
}

#desc-prompt {
position: absolute;
width: 360px;
height: 52px;
left: 552px;
top: 815px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 52px;
/* identical to box height */


color: #000000;

}

#desc-step1 {
position: absolute;
width: 755px;
height: 157px;
left: 272px;
top: 1038px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 42px;
display: flex;
align-items: center;

border-radius: 24px;
border: 3rem solid rgba(251, 235, 169, 0.5);
background-color: rgba(251, 235, 169, 0.5);
background-clip: padding-box;
}

#desc-step2 {
position: absolute;
width: 755px;
height: 157px;
left: 384px;
top: 1338px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 42px;
display: flex;
align-items: center;

border-radius: 24px;
border: 3rem solid rgba(251, 235, 169, 0.75);
background-color: rgba(251, 235, 169, 0.75);
background-clip: padding-box;
}

#desc-step3 {
position: absolute;
width: 755px;
height: 157px;
left: 445px;
top: 1638px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 42px;
display: flex;
align-items: center;

border-radius: 24px;
border: 3rem solid #FBEBA9;
background-color: #FBEBA9;
background-clip: padding-box;
}

#sponsor {

position: absolute;
width: 778px;
height: 155px;
left: 302px;
top: 2025px;   
padding-bottom: 100px;
}

/* MEET THE TEAM */

#about-team {

position: absolute;
width: 759px;
height: 50px;
left: 160px;
top: 207px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 47px;

color: #000000;

}



#team-members {

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 40px;


position: absolute;
left: 170px;
top: 300px;

}

.teamimg {

width: 879px;
height: auto;

}

#vee {

padding-bottom: 100px;

}

/* HOW IT WORKS */

#hiw-header {
position: absolute;
width: 708px;
height: 145px;
left: 160px;
top: 177px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 47px;

color: #000000;
}


#hiw-cohere {
position: absolute;
width: 362px;
height: 104px;
left: 900px;
top: 220px;
}

#hiw-desc {
position: absolute;
width: 1120px;
height: 63px;
left: 160px;
top: 362px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 31px;

color: #000000;
}

#hiw-examples {
position: absolute;
width: 1104px;
height: 508px;
left: 160px;
top: 489px;
}

#hiw-input {
position: absolute;
width: 1104px;
height: 195px;
left: 160px;
top: 1077px;
padding-bottom: 100px;
}

#quiz-prompt-one {

position: absolute;
width: 584px;
height: 63px;
left: 428px;
top: 177px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 42px;
text-align: center;

color: #000000;

}

#quiz-selection {

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 40px;

position: absolute;
width: 579px;
height: 31px; 
left: 340px;
top: 350px;

}